@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  display: none;
  background-color: hsla(0, 0%, 50%, 0.5); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
}
